[run]
branch = False
concurrency = gevent
parallel = True

include =
      */larch/lib/*

omit =
     */debug.py
     */site-packages/*
     */tests/*

[report]
skip_covered = True
exclude_lines =
        pragma: no cover
        def __repr__
        raise NotImplementedError
        raise MarketShutdown
        except ZeroDivisionError
        except OSError:
        pass
